.sidebar{
    flex: 0.2;
    margin: 0 30px;
    display: none;
}
.sidebar-title{
    margin: 40px 0;
}
.title>h1{
    font-size: 38px;
}
.list-items{
    margin: 30px 0;
}
.list-items>p{
    margin: 34px 0;
    color: gray;
}
.sidebar>button{
    background-color: tomato;
    color: white;
    padding: 12px 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    margin: 20px 0;
}

@media only screen and (min-width: 768px) {
    .sidebar{
        display: block;
    }
    
}